{% extends 'sorter/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<!-- 
if ur reading this and wondering what all these &nbsp;&nbsp; are for, i have no idea how to make spacings.... so i found this and made my things look nice :D
-->

<div class="container">
    {% if user.is_authenticated %}
    &nbsp;&nbsp;
    <h1>YELLO {{ user.username }}!</h1>
    &nbsp;&nbsp;
    <h2>Edit Your Profile</h2>
    &nbsp;&nbsp;

    <style>
        input {
          display: inline-block;
          width: 600px;
          text-align: left;
        }
        label {
          display: inline-block;
          width: 400px;
          text-align: right;
        }
      </style>

<!-- 
maybe change it one day when i figure out how to align these text fields....-->
<br>
    <form action="/accounts/profile/edit/" method="post">
        <br>

    <div>
        <table class="table table-borderless">
        <tbody>
        <tr>
        <td><label for="username">Username: </label></td>
        <td><input id="username" type="text" name="username" value= {{ user.username }}></td>
        </tr>
        
        <tr>
        <td><label for="firstname">First Name: </label></td>
        <td><input id="firstname" type="text" name="firstname" value= {{ user.first_name }}></td>
        </tr>

        <tr>
        <td><label for="lastname">Last Name: </label></td>
        <td><input id="lastname" type="text" name="lastname" value= {{ user.last_name }}></td>
        </tr>

        <tr>
        <td><label for="gender">Gender: </label></td>
        <td><input id="gender" type="text" name="gender" value= {{ user.profile.gender }}></td>
        </tr>

        <tr>
        <td><label for="email">Email: </label></td>
        <td><input id="email" type="text" name="email" value= {{ user.email }}></td>
        </tr>

        <tr>
        <td><label for="bio">Bio: </label></td>
        <td><input id="bio" type="text" name="bio" value= {{ user.profile.bio }}></td>
        </tr>

        <tr>
            <td>
            </td>
            <td>
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="Save">

                </td>
        </tr>
        </tbody>
        </table>
    </div>

    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>

        {% endif %}
    </form>
    {% endif %}
</div>
{% endblock %}